<div class="container">
  <div class="row">
    <div class="col-md-7">
<table class="table table-bordered table table-hover">
  <thead>
    <tr>
      <td>Personel Id</td>
      <td>Personel Ad</td>
      <td>Personel Soyad</td>
      <td>Personel Resim</td>
      <td>Personel Sehir</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of plist" (click)="selectPersonel(item)">
      <td>{{item.personelId}}</td>
      <td>{{item.personelAd}}</td>
      <td>{{item.personelSoyad}}</td>
      <td><img src="/{{ item.resimYol }}" alt=" " /></td>
      <td>{{item.sehirAd}}</td>
    </tr>
  </tbody>

</table>
    </div>
    <div class="col-md-5">
        <h3>Personel Detay</h3>
        <app-personel-detay [secpersonel]="secpersonel" > </app-personel-detay>
        
      </div>

  </div>

</div>